header {
  padding: 10px 0;
  .logo {width: 140px; display: inline-block;}
  .vertical-nav {
    ul {
      li {
        font-family: $fancy-font;
        float: left;
        padding: 10px;
        font-size: 30px;
      }
    }
  }
}
