{% extends 'base.twig' %}

{% block content %}
    <main>
        <form id="contactForm" name="contactForm">
            <ul>
                <li>
                    <label for="name">Your name</label>
                    <input id="name" name="name" type="text" minlength="3" required>
                </li>
                <li>
                    <label for="email">Your e-mail</label>
                    <input id="email" name="email" type="email" required>
                </li>
                <li>
                    <label for="subject">Message subject</label>
                    <input id="subject" name="subject" type="text" minlength="5" required>
                </li>
                <li>
                    <label for="content">Message content</label>
                    <textarea id="content" name="content" minlength="5" required></textarea>
                </li>
                <li>
                    <button type="submit">
                        send message
                    </button>
                </li>
            </ul>
        </form>

    </main>
{% endblock %}
