{% extends 'base.twig' %}

{% block content %}
    <main>
        <section class="r r-12">
            <img src="/dist/images/banner.jpg" alt="Main image">
        </section>
        <div class="container">
            <section class="r r-9 gridlock productList">
                {% for product in products %}
                    <div class="element">
                        <a href="#" data-product='{{ product | json_encode | escape('html') | raw }}'
                           class="bordered productTrigger">
                            <img src="/dist/images/{{ product.photo }}" alt="{{ product.name }} picture"/>
                            <h3>{{ product.name }}</h3>
                        </a>
                    </div>
                {% endfor %}
            </section>
            <section class="r r-3">
                <aside class="list">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscin elit</p>
                </aside>
            </section>
        </div>
        <div class="cf"></div>
    </main>
{% endblock %}
