<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF">
<table width="680" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td width="680" height="40" bgcolor="#ffffff"></td>
    </tr>
    <tr>
        <td width="680" height="64" bgcolor="#ffffff">
            <table width="680" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td width="30" height="64" bgcolor="#ffffff"></td>
                    <td width="148" height="64" bgcolor="#ffffff" style="font-size: 22px; color: #272822" >
                        Simple Shop
                    </td>
                    <td width="502" height="64" bgcolor="#ffffff"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="680" bgcolor="#ffffff">
            <table width="680" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td width="680" height="2" bgcolor="#272822">&nbsp;</td>
                </tr>
                <tr>
                    <td width="680" height="20" bgcolor="#ffffff"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="680" bgcolor="#ffffff">
            {% block content %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="680" bgcolor="#ffffff">
            <table width="680" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td width="680" height="20" bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td width="680" height="2" bgcolor="#272822">&nbsp;</td>
                </tr>
                <tr>
                    <td width="680" height="30" bgcolor="#ffffff"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="680" bgcolor="#ffffff">
            <table width="680" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td width="460" bgcolor="#ffffff"></td>
                    <td width="220" bgcolor="#ffffff" style="font-size:18px; color: #000000; font-family: Arial; font-weight: normal; line-height: 24px;"><strong>SimpleShop</strong></td>
                </tr>
                <tr>
                    <td width="460" bgcolor="#ffffff"></td>
                    <td width="220" bgcolor="#ffffff" style="font-size:14px; color: #000000; font-family: Arial; font-weight: normal; line-height: 20px; font-style: italic;">Visit us: <a href="simpleShop.com" style="color: #00aaff; text-decoration: underline;">simpleshop.com</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="680" height="30" bgcolor="#ffffff"></td>
    </tr>
</table>
</body>
</html>
