<!doctype html>
<html lang="en">
<head>
    <title>Test</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">
    <title>{% if pageTitle is not null and pageTitle is not empty %}{{ pageTitle }}{% else %}Całkiem OK krzesła{% endif %} - Krzesła 24</title>
    <link rel="stylesheet" href="/dist/css/style.css">
</head>
<body>
  {% include 'header.twig' %}
  {% block content %}{% endblock %}
  {% include 'footer.twig' %}
</body>
</html>
