{% extends 'base.twig' %}

{% block content %}
<form class="" action="index.html" method="post">
  <div class="container">
    <form action="index.html" method="post">
      <div class="form-cnt">
        <div class="input-group r r-6">
          <label for="name">Name</label>
          <input type="text" name="name">
        </div>
        <div class="input-group r r-6">
          <label for="surname">Surname</label>
          <input type="text" name="surname">
        </div>
        <div class="input-group r r-6">
          <label for="email">Email</label>
          <input type="text" name="email">
        </div>
        <div class="input-group r r-6">
          <label for="company">Company</label>
          <input type="text" name="company">
        </div>
        <div class="cf"></div>
      </div>
    </form>
  </div>
</form>
{% endblock %}
