{% block header %}
<header>
  <div class="container">
    <a href="/" class="logo"><img src="https://placehold.it/140x60"></a>
    <nav class="right vertical-nav">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/cart">CART</a></li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}
