body {
  font: 400 13px/1.6 $body-font;
  color: $body-color;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $header-font;
  margin: 0;
}

a {
  color: $text-color;
  text-decoration: none;
  &:hover {color: $tertiary-color}
}
