// Colors
$primary-color: #090520;
$secondary-color: #154163;
$tertiary-color: #ff3300;
$quartiary-color: #e1dc67;
$body-color: #fff;
$text-color: #333;
$header-color: $primary-color;
$base: #F7F6F0;
$transition: 250ms ease all;


// Font families
$header-font: 'Trebuchet MS', Helvetica, sans-serif;
$body-font: Arial, Helvetica, sans-serif;
$fancy-font: 'Baloo Tamma', cursive;
